.top{
    background-color: #1c2e3a;
    color: aliceblue;
    display:flex;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f7fd;
  }
  
  .header {
    text-align: center;
    background-color: #f0f0f0;
  }
  
  .link {
    color: #f5f5f6;
  }
  .link:hover{
    color: #5cd7f6;
  }
  
  .dropdown-container {
    display: flex;
    justify-content: right;
    /* margin-top: 20px; */
    background-color: #f0f7fd;
    padding:  0px;
  }
  
  .dropdown {
    margin: 0 10px;
    padding: 10px;
    border: 0px solid #f0f7fd;
    font-size: 16px;
    font-weight: 600;
    /* border-radius: 5px; */
    background-color: #f0f7fd;
  }
.middle{
font-size: 36px;
font-family: 'Times New Roman';
display: flex;
justify-content: center;
font-style:italic;
color: #1c2e3a;
text-align: center;

}
.middle1{
  font-size:15vh;
  display: flex;
justify-content: center;
align-items: center;
font-weight: 900;
color: #1c2e3a;
text-align: center;
}
.middle2{
  font-size:27px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #1c2e3a;
  text-align: center;

}
.click_box{
  padding: 10px 30px 10px 30px;
  margin: 9px;
  background-color:#1dbcfe ;
  border-radius: 3px;
  color: white;
  font-weight: 900;
  cursor: pointer;
  z-index: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/* .mid{
   
  padding: 12px 30px;
  margin: 40px;
  justify-content: center;
  color: white; 
  background-color: #5cd7f6;
  font-size: 24px;
  height: 50px;
  width:14px
} */
.middle3{
  font-weight: 900;
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  margin: 40px 70vh ;
  color: white;
  font-size: 24px;
  background-color: #1dbcfe;
  cursor: pointer;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
@media (max-width: 1200px) {
  .middle3 {
    /* padding: 1px 111px; */
    justify-content: center;
    display: flex;
    font-size: 14px;
    margin: 41px 177px;
}
}
.mid4{
  display: flex;
  justify-content: center;
  margin:10px 0px 0px 0px;
  
}
.down{
  display: flex;
  justify-content: center; 
  padding: 20px 0px;
  align-items: center;
}
.one{
  /* padding: 20px 50px; */
  padding-right: 30px;
  /* margin: 0px 10px; */
display: flex;
align-items: center;
}
.two{
  padding: 20px 50px;
  display: flex;
align-items: center;
}
.three{
  padding: 20px 20px;
  display: flex;
align-items: center;
}
img{
  float:left;
}
.p1{
  margin-top: 20px;
}

.trail h2 a{
  text-decoration: none;
  background-color:deepskyblue ;
  color:white ;
  padding:1.5% 3%;
  border-radius: 3%;
  font-size:20px ;
 display: flex;
 justify-content: center;
 margin: 3% 35%;
}